body {
	font-family: 'Lato', sans-serif;
}
img{
	max-width: 100%;
}
.quitar-float{
	float: none;
}
.espacio-arriba{
	margin-top: 70px;
}
.espacio-abajo{
	margin-top: 20px;
}
.amatic{
	font-family: 'Amatic SC', cursive;
}
.se-gris{
	background-color: #eee;
}
.padding-largo{
	padding: 5px 10px;
}
.grande {
	font-size: 5em; 
}
.regular {
	font-size: 2em;
}
.mediana{
	font-size: 3em;
}
.azul {
	color: #1695A3
}
.negro{
	color: #000000
}
.no-lista{
	margin: 0px;
	padding: 0px;
}
.inline-block{
	float: none;
	display: inline-block;
}
.no-lista li{
	list-style-type: none;
}
a{
	color: #61AEF2;
}

